/* Color Theme Swatches in Hex */
$TRAVIS-SCOTT-1-hex: #D9CCA7;
$TRAVIS-SCOTT-2-hex: #D9D3C7;
$TRAVIS-SCOTT-3-hex: #593E2E;
$TRAVIS-SCOTT-4-hex: #402E23;
$TRAVIS-SCOTT-5-hex: #0D0D0D;

/* Color Theme Swatches in RGBA */
$TRAVIS-SCOTT-1-rgba: rgba(217,204,167, 1);
$TRAVIS-SCOTT-2-rgba: rgba(217,211,199, 1);
$TRAVIS-SCOTT-3-rgba: rgba(89,62,46, 1);
$TRAVIS-SCOTT-4-rgba: rgba(64,46,35, 1);
$TRAVIS-SCOTT-5-rgba: rgba(13,13,13, 1);

/* Color Theme Swatches in HSLA */
$TRAVIS-SCOTT-1-hsla: hsla(44, 39, 75, 1);
$TRAVIS-SCOTT-2-hsla: hsla(39, 19, 81, 1);
$TRAVIS-SCOTT-3-hsla: hsla(22, 31, 26, 1);
$TRAVIS-SCOTT-4-hsla: hsla(22, 29, 19, 1);
$TRAVIS-SCOTT-5-hsla: hsla(0, 0, 5, 1);